# git rm -r --cached 

# Dépendances Node.js
/node_modules

# Fichiers générés par Next.js
/.next



# Rapports de couverture de tests
coverage/

# Rapports de tests Playwright
playwright-report/

# Fichiers système macOS
**/.DS_Store


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers générés par les IDE
.idea/
.vscode/
.qodo/
.venv/
.vscode/

*.sublime-workspace

# Fichiers générés par le système
Thumbs.db
*.swp
*.lock


# Fichiers publics
public/

# scripts
sync_labo2_vers_labo.sh